.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #1951a0;
    color: white;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img{
    height: 100px;
    width: 150px;
    margin-left: 25px;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 1rem;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(224, 113, 225);
  }
  nav ul li :hover{
    color: rgb(198, 101, 195);
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    flex-grow: 1;
  }
  
  .hero {
    background-color: #b2e2f6;
    color: white;
    text-align: center;
    padding: 4rem 2rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #02275b;
  }

  .hero p{
    color: rgb(15, 24, 30);
    font-size: 23px;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  footer {
    background-color: "#062652";
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer p{
    color: aliceblue;
  }
  footer ul {
    display: flex;
    list-style: none;
  }
  
  footer ul li {
    margin-left: 1rem;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }